*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
#root{
    font-family: sans-serif;
}
.cantainer{
    max-width: 1280px;
    margin: 0 auto;
    padding:  0 20px ;
    width: 100%;
}
 a{
    text-decoration: none;
    color: inherit;
 }
 button{
    background-color: transparent;
    cursor: pointer;
    border: none;
 }