.header {
  // padding: 32px 0;
  &__img-top {
    @media screen and (max-width: 895px) {
      display: none;
    }
  }
  &__centr {
    @media screen and (max-width: 895px) {
      display: none;
    }
  }
  &__bootm {
    @media screen and (max-width: 895px) {
      display: none;
    }
  }
  &__img {
    position: relative;

    background-repeat: no-repeat;
  }
  &__top-img {
    // width: 1135px;
    max-width: 100%;
    height: 70px;
    object-fit: contain;
  }
  &__img-btn {
    position: absolute;
    right: 0;
    top: 35px;
    transform: translateY(-50%);
    color: $white-color;
    width: 46px;
    height: 46px;
    border-radius: 9px;
    border: 1px solid $white-color;
  }
  &__bac {
    background-color: $main-color;
    width: 100%;
  }
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 30px 0;
    @media screen and (max-width: 1125px) {
      gap: 12px;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 32px;
    @media screen and (max-width: 1125px) {
      gap: 12px;
    }
    @media screen and (max-width: 925px) {
      gap: 8px;
    }
  }
  &__rights {
    display: flex;
    align-items: center;
    gap: 32px;
    @media screen and (max-width: 930px) {
      gap: 18px;
    }
  }
  &__right {
    @media screen and (max-width: 983px) {
      gap: 12px;
    }
  }
  &__instalement {
    padding: 5px 10px;
    border: 2px solid $white-color;
    background-color: $white-color;
    border-radius: 12px;
    transition: all 0.3s ease-in;
    white-space: nowrap;
    color: $main-color;
    &:hover {
      background-color: $main-color;
      color: $white-color;
    }
  }
  &__discound {
    padding: 5px 13px;
    border: 2px solid $white-color;
    background-color: $main-color;
    color: $white-color;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;

    &:hover {
      background-color: $white-color;
      color: $main-color;
    }
  }
  &__winning-gemas {
    padding: 5px 10px;
    border: 2px solid $white-color;
    background-color: $white-color;
    border-radius: 12px;
    transition: all 0.3s ease-in;
    white-space: nowrap;
    color: $main-color;
    &:hover {
      background-color: $main-color;
      color: $white-color;
    }
  }

  &__link {
    color: $white-color;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
    @media screen and (max-width: 1125px) {
      font-size: 14px;
    }
  }
  &__tels {
    color: $white-color;
    font-size: 22px;
    font-weight: 700;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
    @media screen and (max-width: 1120px) {
      font-size: 18px;
    }
    @media screen and (max-width: 965px) {
      font-size: 14px;
      font-weight: 800;
    }
  }
  &__sell {
    padding: 5px 13px;
    border: 2px solid $white-color;
    background-color: $main-color;
    color: $white-color;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    &:hover {
      background-color: $white-color;
      color: $main-color;
    }
  }
  &__lang {
    display: flex;
    align-items: center;
    gap: 12px;
    border-left: 1px solid $white-color;
    border-right: 1px solid $white-color;
    padding: 0 5px;
    @media screen and (max-width: 915px) {
      gap: 5px;
    }
  }
  &__lnks {
    color: $white-color;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
    @media screen and (max-width: 1120px) {
      font-size: 14px;
    }
  }
  &__bootm-inner {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 32px;
    padding: 28px 0;
  }
  &__bootm-png {
    width: 130px;
  }
  &__bootm-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 2px solid #000;
    padding: 7px 12px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;

    &:hover {
      color: $main-color;
      border: 2px solid $main-color;
    }
    &-menu:hover {
      color: $main-color;
    }
    .header__close {
      display: none;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    background-color: rgba(202, 200, 200, 0.293);
    padding: 1px 1px 1px 9px;
    border-radius: 7px;
    width: 100%;
    &-btn {
      background-color: $main-color;
      padding: 6px 12px;
      border: 1px solid $white-color;
      border-radius: 6px;
    }
  }
  &__input {
    padding: 0 0 0 5px;
    width: 97%;
    height: 100%;
    font-size: 18px;
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 32px;
    @media screen and (max-width: 983px) {
      gap: 8px;
    }
  }
  &__icons-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    &:hover {
      color: $main-color;
    }
  }
  &__bootm-imgs {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__smal {
    font-size: 18px;
    font-weight: 500;
  }
  &__mobil-top {
    display: none;
    @media screen and (max-width: 895px) {
      display: block;
    }
  }
  &__mobil-centr {
    display: none;
    @media screen and (max-width: 895px) {
      display: block;
    }
  }
  &__mobil-bootm {
    display: none;
    @media screen and (max-width: 895px) {
      display: block;
    }
  }
  &__mobil-wrap {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    padding: 12px 0;
    @media screen and (max-width: 410px) {
      gap: 12px;
    }
  }
  &__mobil-links {
    font-size: 25px;
    &:hover {
      color: $main-color;
    }
  }
  &__mobil-logo {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__mobil-img {
    width: 40px;
    height: 40px;
    border-radius: 12px;
  }
  &__mobil-btn {
    background-color: $main-color;
    padding: 7px 15px;
    border-radius: 16px;
    color: $white-color;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    &:hover {
      background-color: #e9e7e7;
      color: $main-color;
    }
    @media screen and (max-width: 410px) {
      padding: 5px 12px;
    }
    &.open {
      visibility: visible;
      opacity: 1;
    }
  }
  &__mobil-text {
    @media screen and (max-width: 410px) {
      font-size: 12px;
    }
  }
  &__mobil-centr-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }
  &__mobil-centr-logo {
    width: 100px;
  }
  &__mobil-bootm-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 28px 0;
  }
  &__mobil-bootm-btn {
    border: 2px solid #000;
    padding: 7px 12px;
    border-radius: 13px;
    font-size: 22px;
    &:hover {
      border: 2px solid $main-color;
      color: $main-color;
    }
  }
  &__mobil-bootm-serch {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgba(204, 203, 203, 0.442);
    padding: 10px 7px;
    width: 100%;
    border-radius: 12px;
    opacity: 0.6;
  }
  &__mobil-bootm-input {
    width: 99%;
    height: 100%;
    font-size: 18px;
  }
  &__mobil-bt {
    font-size: 18px;
  }
  &__chouse {
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 3px;
  }
  &__language {
    background-color: transparent;
  }
}
