.product {
  width: 100%;
  padding: 20px 0;

  &__titles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  &__left {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;

    & img {
      width: 100%;
      border-radius: 12px;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__right {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;

    > img {
      width: 100%;
      border-radius: 12px;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__cards {
    margin-top: 30px;
    display: flex;

    @media screen and (max-width: 500px) {
      display: block;
    }
  }

  &__left-img {
    width: 300px;
    height: 950px;
    overflow: hidden;
    border-radius: 12px;

    > img {
      width: 100%;
      height: 100%;
      border-radius: 12px;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    @media screen and (max-width: 850px) {
      display: none;
    }
  }

  &__card-right {
    display: flex;
    flex-direction: column;
    margin-left: 30px;

    @media screen and (max-width: 850px) {
      margin-left: 0;
    }
  }

  &__card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    @media screen and (max-width: 1245px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 1080px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__card-sale {
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.39);
    }
  }

  &__card-img {
    height: 55%;
    padding: 24px 18px;
    background-color: #edf0ed;
    position: relative;
    border-radius: 6px;

    > img {
      width: 100%;
      height: 90%;
    }
  }

  &__card-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 12px;
    right: 12px;

    > button {
      background-color: $white-color;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px;
    }
  }

  &__card-content {
    padding: 6px 10px;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .money {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .first-child {
        font-weight: 600;
        font-size: 20px;
        color: $black-color;
      }

      .other {
        background-color: #ffd740;
        color: $black-color;
        width: fit-content;
        padding: 4px 6px;
        border-radius: 6px;

        @media screen and (max-width: 1245px) {
          padding: 2px 4px;
          font-size: 14px;
        }
      }
    }

    .content__title {
      font-size: 16px;
      line-height: 23px;
      height: 70px;

      @media screen and (max-width: 730px) {
        height: 50px;
      }

      @media screen and (max-width: 700px) {
        font-size: 20px;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 12px;

    .shopcart {
      border: 2px solid $black-color;
      width: 40px;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      padding: 4px 0;
    }

    .payment {
      border: 2px solid $main-color;
      color: $main-color;
      font-size: 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      border-radius: 6px;
      white-space: nowrap;

      @media screen and (max-width: 480px) {
        font-size: 22px;
      }
    }
  }
}
